<h3>Miscellaneous</h3>
<ul>
  <li>I love sports, and a big fan of both Arsenal and the Gators.</li>
  <li>I've visited over ten countries and speak three languages fluently.</li>
  <li>I sometimes play soccer and enjoy competing in FIFA video games.</li>
</ul>
<h3>Pro bono office hours</h3>
I've committed to set aside 1 hour every week to provide mentorship and/or guidance for whoever is in need. If you find my work, research, or life
experience useful, check on my <a class="highlight" href="https://calendly.com/msugal/30min">calendly</a> for available time and schedule a meeting.
For feedback, questions, and random messages, please send me an email.
